.weeklyscores {
  border-right: 1px solid lightgray
}

.weeklyscores__header {
  display: flex;
  padding: 20px 0 5px 20px;
  align-items: center;
}

.weeklyscores__dropdown {
  margin-left: 5%;
}

.dropdown__menu {
  z-index: 900;
}

.dropdown__item {
  font-size: small;

}

.gameentry {
  margin-top: 20px;
  margin-right: 20px;
  margin-left: 20px;
  border-bottom: 1px solid gray;
}

.gameentry__results {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.gameentry__update {
  text-align: right;
}