p {
  margin: 0;
}

.weeklyscores {
  border-right: 1px solid lightgray
}

.weeklyscores__header {
  display: flex;
  padding: 20px 0 5px 20px;
  align-items: center;
}

.weeklyscores__dropdown {
  margin-left: 5%;
}

.dropdown__menu {
  z-index: 900;
}

.dropdown__item {
  font-size: small;

}

.gameentry {
  margin-top: 20px;
  margin-right: 20px;
  margin-left: 20px;
  padding-bottom: 15px;
  border-bottom: 2px solid #EEEEEE;
}

.btn__moreinfo {
  display: flex;
  justify-content: center;
}

.gameentry__update {
  text-align: right;
}

.game__upcoming {
  display: flex;
  align-items: center;
}

.team__pct {
  flex: 0.2;
  display: flex;
  justify-content: center;
}
.team__info {
  flex: 0.2;
  display: flex;
  flex-direction: column;
  align-items: center;

}
.game__center {
  flex: 0.2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

